services:
  db:
    image: postgres:latest
    container_name: auth-db
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=authdb
    volumes:
      - auth_data:/var/lib/postgresql
    ports:
      - 5432:5432
    restart: always

  auth-service:
    build: ./app
    container_name: auth-service
    ports:
      - "8000:8000"
    environment:
      - POSTGRES_DB=authdb
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - DB_HOST=db
      - JWT_SECRET_KEY=secretkey123
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    volumes:
      - ./app:/app
    depends_on:
      - db
    
  redis:
    image: redis:latest
    container_name: auth-redis
    ports:
      - "6379:6379"
    restart: always

volumes:
  auth_data: